In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('FSVA 2022.csv')
df

,Wilayah,Komposit,NCPR,Kemiskinan (%),Pengeluaran Pangan (%),Tanpa Listrik (%),Tanpa Air Bersih (%),Lama Sekolah Perempuan (tahun),Rasio Tenaga Kesehatan,Angka Harapan Hidup (tahun),Stunting (%),IKP,IKP Ranking,Unnamed: 13
0,aceh - aceh selatan,5,0.78,13.18,52.86,0.00,46.34,8.75,2.43,64.40,27.3,71.02,274,NaN
1,aceh - aceh tenggara,6,0.28,13.41,38.71,0.00,41.55,9.62,2.87,68.22,34.1,77.39,188,NaN
2,aceh - aceh timur,6,0.52,14.45,32.76,0.00,33.96,8.66,2.01,68.74,38.2,76.55,200,NaN
3,aceh - aceh tengah,4,2.57,15.26,28.92,0.24,42.25,10.10,2.45,68.86,34.3,63.93,326,NaN
4,aceh - aceh barat,6,0.56,18.81,38.49,0.00,21.76,10.22,1.82,67.99,27.4,77.56,184,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509,papua barat - tambrauw,1,5.00,33.86,33.04,2.11,68.12,8.50,63.35,60.20,39.4,29.26,401,NaN
510,papua barat - maybrat,1,5.00,31.39,7.59,0.22,61.90,10.50,22.57,65.25,34.5,39.33,393,NaN
511,papua barat - manokwari selatan,5,0.98,29.30,21.87,3.25,27.52,8.60,14.88,67.60,28.5,69.46,292,NaN
512,papua barat - pegunungan arfak,1,5.00,34.70,23.48,21.62,51.51,6.41,20.40,67.26,40.1,34.90,397,NaN
513,papua barat - kota sorong,5,0.00,15.35,5.81,0.77,3.82,11.47,0.60,70.93,19.9,67.72,78,NaN

In [3]:
df = df.drop(columns=['Wilayah', 'IKP', 'IKP Ranking', 'Unnamed: 13'])
df

,Komposit,NCPR,Kemiskinan (%),Pengeluaran Pangan (%),Tanpa Listrik (%),Tanpa Air Bersih (%),Lama Sekolah Perempuan (tahun),Rasio Tenaga Kesehatan,Angka Harapan Hidup (tahun),Stunting (%)
0,5,0.78,13.18,52.86,0.00,46.34,8.75,2.43,64.40,27.3
1,6,0.28,13.41,38.71,0.00,41.55,9.62,2.87,68.22,34.1
2,6,0.52,14.45,32.76,0.00,33.96,8.66,2.01,68.74,38.2
3,4,2.57,15.26,28.92,0.24,42.25,10.10,2.45,68.86,34.3
4,6,0.56,18.81,38.49,0.00,21.76,10.22,1.82,67.99,27.4
...,...,...,...,...,...,...,...,...,...,...
509,1,5.00,33.86,33.04,2.11,68.12,8.50,63.35,60.20,39.4
510,1,5.00,31.39,7.59,0.22,61.90,10.50,22.57,65.25,34.5
511,5,0.98,29.30,21.87,3.25,27.52,8.60,14.88,67.60,28.5
512,1,5.00,34.70,23.48,21.62,51.51,6.41,20.40,67.26,40.1
513,5,0.00,15.35,5.81,0.77,3.82,11.47,0.60,70.93,19.9

In [4]:
df.to_csv('FSVA 2022 Cleaned.csv', index=False)